.gallery {
  display: flex;
  max-width: 1128px;
  flex-wrap: wrap;
  gap: 24px;
  margin-right: auto;
  margin-left: auto;
}

.gallery-item {
  width: calc((100% - 24px * 2) / 3);
  height: 200px;
  transition: transform 250ms ease;
}

.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.04);
}

.gallery-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

body .sl-overlay {
  background: rgba(46, 47, 66, 0.8);
}
