@import url('./reset.css');
@import url('./1-gallery.css');
@import url('./2-form.css');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.task-link {
  display: block;
  margin-bottom: 8px;
}
